body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
}

.card {
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 15px;
  padding: 20px;
}

.nav {
  background: black;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.nav button {
  background: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.section {
  padding: 20px;
}

img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.link {
  color: blue;
  cursor: pointer;
}

.msg {
  color: red;
}
